* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: "bungee", cursive;
  background-color: #4285f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 16px;
  margin: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  background-color: #9fa8da;
  border-radius: 2rem;
}

h1,
h2,
h3,
h4 {
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.6);
  color: #ffc68a;
  margin: 0;
  padding: 0;
}

#result h4 {
  color: #000;
}
/* header */
header {
  height: 2rem;
  text-align: center;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

/* main content*/

main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 1rem;
  box-shadow: 0px 0px 12px 0px rgb(43, 48, 62);
}

/*Lives remaining section*/
#lives-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-align: left;
}

#lives-container h2 {
  width: 18rem;
}
/*Score tracking section*/
#score-tracker div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

#wins,
#losses,
#draws {
  margin: 0 10px 0 5px;

  color: white;
}

.score-count {
  justify-content: center;
  align-items: center;
}

/*choice display section*/
#choice-display {
  gap: 16px;
  display: flex;
  font-size: 8rem;
  justify-content: space-evenly;
}

#user-display,
#opponent-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border: solid 6px;
  border-color: #595e7f;
  border-radius: 16px;
  background-color: #777da4;
  box-shadow: 0px 0px 12px 0px rgb(43, 48, 62);
}

#choice-display h3 {
  font-size: 2rem;
  align-self: center;
}

/*result section*/
#result {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  height: 4rem;
  align-items: center;
}

/*button section for choices*/
#button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-bottom: 1rem;
}

#button-container button {
  font-size: 5rem;
  border: 5px solid #d84315;
  background-color: #ff5722;
  border-radius: 1rem;
  cursor: pointer;
  transition: border-color 0.5s ease;
  box-shadow: 0px 0px 12px 0px rgb(43, 48, 62);
}

#button-container button:hover {
  background-color: #ff7043;
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.5rem;
  }

  body {
    margin: 8px;
    justify-content: space-evenly;
  }

  header h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  #lives-container {
    width: 71%;
  }

  /*choice display section*/
  #choice-display {
    display: flex;
    font-size: 5rem;
    justify-content: space-evenly;
  }

  #user-display,
  #opponent-display {
    width: 8rem;
    height: 8rem;
  }

  #result {
    font-size: 2rem;
    align-items: center;
    height: 63px;
  }

  #button-container {
    font-size: 3rem;
    width: 80%;
  }

  #button-container button {
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 0.9rem;
  }

  body {
    margin: 6px;
    padding: 0;
  }

  main {
    gap: unset;
    padding: 0.5rem;
  }

  header {
    height: 2rem;
  }

  header h1 {
    font-size: 1.1rem;
  }
  #lives-container h2 {
    width: 16rem;
  }

  #wins,
  #losses,
  #draws {
    color: white;
    font-size: 1rem;
  }

  /*choice display section*/
  #choice-display {
    gap: unset;
    display: flex;
    font-size: 5rem;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }

  #user-display,
  #opponent-display {
    width: 6rem;
    height: 6rem;
  }

  #result {
    font-size: 1rem;
    height: 46px;
  }

  #button-container {
    font-size: 3rem;
    width: unset;
  }

  #button-container button {
    font-size: 2rem;
  }
}
