* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* general */

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.6);
  color: #ffc68a;
  margin: 0;
  padding: 0;
}

#result h4 {
  color: #302f2e;
}
/*body section*/
body {
  font-family: "bungee", cursive;
  background-color: #0d5fe3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 16px;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* header */
header {
  height: 2rem;
  text-align: center;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  color: #f7f7f7;
}

/* main content*/
main {
  background-color: #34367f;
  border-radius: 2rem;
}
main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 1rem;
  box-shadow: 0px 0px 12px 0px rgb(43, 48, 62);
}

/*Lives remaining section*/
#lives-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-align: left;
}

#lives-container h2 {
  width: 18rem;
}
/*Score tracking section*/
#score-tracker div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

#wins,
#losses,
#draws {
  margin: 0 10px 0 5px;

  color: #fff;
}

.score-count {
  justify-content: center;
  align-items: center;
}

/*choice display section*/
#choice-display {
  gap: 16px;
  display: flex;
  font-size: 8rem;
  justify-content: space-evenly;
}

#user-display,
#opponent-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border: solid 6px;
  border-color: #595e7f;
  border-radius: 16px;
  background-color: #777da4;
  box-shadow: 0px 0px 12px 0px rgb(43, 48, 62);
}

#choice-display h3 {
  font-size: 2rem;
  align-self: center;
}

/*result section*/
#result {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  height: 4rem;
  align-items: center;
  color: #fff;
}

/*button section for choices*/
#button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-bottom: 1rem;
}

#button-container button {
  font-size: 4.5rem;
  border: 5px solid #d84315;
  background-color: #ff5722;
  border-radius: 1rem;
  cursor: pointer;
  transition: border-color 0.5s ease;
  box-shadow: 0px 0px 12px 0px rgb(43, 48, 62);
}

#button-container button:hover {
  background-color: #ff7043;
}

/*rules and userame container */
#rules-container {
  gap: 1rem;
  align-items: center;
  width: 45%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2rem;
  top: 10%;
  border: 5px solid;
  border-radius: 3rem;
}

#start-button {
  font-family: "bungee", cursive;
  font-size: 2rem;
  border: 3px solid;
  border-radius: 1rem;
  padding: 0px 8px;
}

label {
  color: #302f2e;
  font-size: 1.5rem;
  line-height: 1.25rem;
}

input {
  font-family: "bungee", cursive;
  border: 2px solid;
  height: 3rem;
  border-radius: 1rem;
  padding: 0 1rem;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 2rem;
}

#rules-container > h2 {
  color: #302f2e;
  font-size: 2rem;
  line-height: 2.5rem;
  text-shadow: none;
}

#rules-container > ul {
  padding: 0;
  list-style: none;
  line-height: 3rem;
  font-size: 2rem;
}

/*Endgame section*/
#endgame-score-container {
  gap: 1rem;
  align-items: center;
  width: 45%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2rem;
  top: 10%;
  border: 5px solid;
  border-radius: 3rem;
}

#endgame-score-container > h3 {
  color: #302f2e;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  text-shadow: none;
}

#endgame-score-container > ul {
  padding: 0;
  list-style: none;
  line-height: 3rem;
  font-size: 2rem;
}

#play-again {
  font-family: "bungee", cursive;
  font-size: 2rem;
  border: 3px solid;
  border-radius: 1rem;
  padding: 6px;
}

/*hide container*/
#endgame-score-container {
  display: none;
}

/*media queries for screens 768px and under*/
@media screen and (max-width: 768px) {
  /*general*/
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.5rem;
  }

  body {
    padding: 2rem;
    justify-content: space-evenly;
  }

  /*Header section*/
  header h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /*lives counter section*/
  #lives-container {
    width: 71%;
  }

  /*choice display section*/
  #choice-display {
    display: flex;
    font-size: 5rem;
    justify-content: space-evenly;
  }

  /*choice display section*/
  #user-display,
  #opponent-display {
    width: 8rem;
    height: 8rem;
  }

  /*Result section*/
  #result {
    font-size: 2rem;
    align-items: center;
    height: 63px;
  }

  /*buttons for choices section*/
  #button-container {
    font-size: 3rem;
    width: 85%;
  }

  #button-container button {
    font-size: 3.5rem;
  }

  /*Rules and username section*/
  #rules-container {
    width: 95%;
  }

  #start-button {
    padding: 0px 8px;
    font-size: 1.5rem;
  }

  /*endgame-score section*/
  #endgame-score-container {
    width: 95%;
  }

  #play-again {
    padding: 0px 8px;
    font-size: 1.5rem;
  }
}

/*media query for screen sizes 480px and under*/
@media screen and (max-width: 480px) {
  /* general */
  h1,
  h2,
  h3,
  h4 {
    font-size: 0.9rem;
  }

  /* body section */
  body {
    padding: 1rem;
  }

  /* hearder section */
  header {
    height: 2rem;
  }

  header h1 {
    font-size: 1.1rem;
  }

  /* main section */
  main {
    gap: unset;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  /* lives section */
  #lives-container h2 {
    width: 16rem;
  }

  /* score-counter section */
  #wins,
  #losses,
  #draws {
    color: white;
    font-size: 1rem;
  }

  /*choice display section*/
  #choice-display {
    gap: unset;
    display: flex;
    font-size: 5rem;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }

  #choice-display > h3 {
    line-height: 3rem;
  }

  /*chocie display section*/
  #user-display,
  #opponent-display {
    width: 6rem;
    height: 6rem;
  }

  /*results section*/
  #result {
    font-size: 1rem;
    height: 46px;
  }

  /*button section*/
  #button-container {
    font-size: 3rem;
    width: unset;
  }

  #button-container button {
    font-size: 2rem;
  }

  /*Rules section*/
  #rules-container {
    width: 95%;
  }

  #rules-container > h2 {
    font-size: 1.5rem;
  }

  #rules-container > ul {
    padding: 0;
    list-style: none;
    line-height: 2rem;
    font-size: 1.3rem;
  }

  input {
    font-size: 1.3rem;
  }

  #start-button {
    padding: 6px;
    font-size: 1rem;
  }

  /*endgame score section*/
  #endgame-score-container {
    width: 95%;
    padding: 1rem;
  }

  #play-again {
    padding: 8px;
    font-size: 1rem;
  }

  #endgame-score-container > ul {
    padding: 0;
    list-style: none;
    line-height: 2rem;
    font-size: 1.3rem;
  }

  #endgame-score-container > h3 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
